# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#IAR Files
_IAR/settings/*
test/_IAR/settings/*
test/_IAR/Debug/*
*.dep